/*
    ESTILOS GLOBALES
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(30, 30, 30);
    color: #FFFFFF;
    
}

/*
    HEADER
*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 135px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(30, 30, 30);
}

nav{
    width: 100%;
}

#lista1{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-right: 20px;
}

#lista2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

button {
    border: 2px solid #333; 
    border-radius: 12px;  
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    background-color: rgb(30, 30, 30);
    width: 70px;
    height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF;
}

#hero {
    height: 400px;
    width: auto;
    background-image: url(https://natosywaor.com/cdn/shop/files/inicio-web-natos-y-waor.jpg?v=1727941173&width=3840);
    background-size: cover;
    background-position: top;
    filter: opacity(0.6);
}

/*
   MAIN
*/

main{
    display: flex;
    flex-direction: column;
    padding-top: 135px;
}

/*
    SECTION1
*/

h1 { 
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 40px;
    padding-left: 100px;
}

#merchandising ul{
    list-style: none;
    text-transform: uppercase;
    font-family: 'inter', sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #FFFFFF;
}

#merchandising{
    height: auto;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

#merchandising ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    text-align: center;
    align-items: center;
}

#merchandising ul img{
    grid-template-columns: 1fr, 1fr;
    height: 500px;
    width: 100%;
    padding-top: 10px;
    object-fit:contain;
    object-position: top;
}

h3{
    margin: 20px;
}

/*
    SECTION2
*/

#bio{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 50%;
    grid-area: div;
}

h2{
    align-self: flex-start;
    margin-left: 20px;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
}




#bio p{
    width: 70%;
    font-family: 'Times New Roman', Times, sans-serif;
    float: left;
    font-size: 18px;
    margin: 22px;
}



#bio img{
    grid-area: img;
    width: 80%;
    height: 500px;
    object-fit: cover;
    margin-top: 20px;
}

section button{
    margin: 20px;
    width: 100px;
}

footer p{
    padding: 100px;
    margin-top: 40px;
    border-top: 2px solid white;
    color: gray;

}



@media (max-width: 830px){
    header{
        display: flex;
        flex-wrap: wrap;
        padding-left: 40px;
        min-width: 520px;
    }

header a{
    font-size: 12px;
}

}

@media (max-width: 1300px){
    #bio{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        width: 90%;
        padding: 50px;
      
        
        
         }
    #bio img{
        width: 100%;
        height: 100%;
        min-width: 350px;
        object-fit: cover;
    }

    #bio p{
        width: 100%;
        min-width: 300px;
    }
    div{
        width: 100%;
        height: 100%;
        
    }
h2{
    width: 100%;
    
  
}


}

